<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Watchman</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="wrapper">
    <div class="proper-content">

      <div class="row">
        <div class="container-fluid">
          <div class="span">
              <div class="control-group">
                <span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
                  <input type="text" pattern="[0-9]*" id="spinner-01" placeHolder="10" class="spinner ui-spinner-input" aria-valuemin="1" aria-valuemax="9999" aria-valuenow="10" autocomplete="off" role="spinbutton">
                </span>
              </div>
          </div>
        </div>
      </div> <%# row %>

      <div class=row-fluid>
        <div class="container-fluid">
          <div class="span9">

              <%= yield %>

          </div>
          <div class="span3">
            <div class="proper-content">
              <%= render 'layouts/sidebar' %>
            </div>
          </div>
        </div> <%# container-fluid %>
      </div> <%# row-fluid %>

      <div class="push"></div>
    </div> <%# proper-content %>
  </div> <%# wrapper %>

  <div class="footer-wrapper">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
