<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Watchman</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="wrapper">
    <div class=row-fluid>
      <div class="container-fluid">
        <div class="span9">
          <div class="proper-content">

            <%= yield %>

          </div>
        </div>
        <div class="span3">
          <div class="proper-content">
            <%= render 'layouts/sidebar' %>
          </div>
        </div>
      </div> <%# container-fluid %>
  </div> <%# row-fluid %>

    <div class="push"></div>
  </div> <%# wrapper %>
  <div class="footer-wrapper">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
