<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Watchman</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="wrapper">
    <div class="proper-content">

      <%= yield %>

      <div class="push"></div>
    </div>
  </div>

  <div class="footer-wrapper">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
